<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Poon Pak Nin">
  <meta name="email" content="lynnpoon710@gamil.com">
  <meta name="date" content="2025-03-24">  
  <title>Nu'an Colour | <%= title %></title>
  <link rel="stylesheet" href="/styles.css">

  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Bebas+Neue&family=Poiret+One&display=swap" rel="stylesheet">
  
  <script src="https://kit.fontawesome.com/e05c7dc574.js" crossorigin="anonymous"></script>
 
    
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
/>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<script src="/script.js" defer></script>


</head>