<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs') %>
  <body class="min-h-screen flex flex-col bg-black">
    <%- include('partials/nav.ejs') %>
    <main class="flex flex-grow items-center justify-center">
      <p class="afacad-flux text-2xl md:text-4xl text-gray-400">
        OOPS, page not found :)
      </p>
    </main>
    <%- include('partials/footer.ejs') %>
  </body>
</html>
