@import "tailwindcss";
@plugin "tailwindcss-motion";

@theme {
  --color-ink_blue: #00375b;
  --color-magenta: #fd2873;
  --color-pale_teal: #d5f6f3;
}

.nav_link {
  position: relative;
}

.nav_link::after {
  content: "";
  height: 2px;
  width: 100%;
  background: #f9a8d4;
  position: absolute;
  left: 0;
  bottom: -8px;
  opacity: 0;
  transition: all 0.2s;
  pointer-events: none;
}

.nav_link:hover::after {
  opacity: 1;
}

.poiret-one-regular {
  font-family: "Poiret One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.afacad-flux {
  font-family: "Afacad Flux", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

.afacad-flux-bold {
  font-family: "Afacad Flux", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

.mySwiper .swiper-pagination-bullet {
  background-color: #171717;
  opacity: 0.3;
}

.mySwiper .swiper-pagination-bullet-active {
  background-color: #f9a8d4;
  opacity: 1;
}
